<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Ramu's Image Sorter V 1.5</title>

    	<!-- Bootstrap -->
    	<link href="/stylesheets/style.css" rel="stylesheet">
    </head>
  	<body>
  		<div id="container">
	  	<div id="header">
			<h1>Image Sorter V 1.5</h1>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="http://localhost:3000/">New Project</a></li>
			</ul>
		</div>
		<div id="content">
