<% include header %>
		<h2>Create Project</h2>
		<div class="dhe-example-section" id="ex-2-4">
			<div class="dhe-example-section-content">
	
				<div id="example-2-4">
					<form name="add_project_name" id="add_project_name" method='post' action='/save-project-name'>
						 Project Name:<input type="text" id="projectname" name="projectName">
						 <button id="btn_save_project_name" class="input-button button-pr">Create Project</button><br>
					</form> 
					
				</div>
	
		</div>
	
<% include footer %>